[submodule "dependencies/tinyLog"]
	path = dependencies/tinyLog
	url = https://github.com/TheRealFirst/tinyLog
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm
[submodule "dependencies/glfw3webgpu"]
	path = dependencies/glfw3webgpu
	url = https://github.com/eliemichel/glfw3webgpu
